.hero-no-phone {
	position: relative;
    padding-top: 128px;
	z-index: 0;

	.hero-bg {
		position: absolute;
		top: 0;
		bottom: 5%;
		left: 0;
		right: 0;
		background: color(bg, 1i);
		z-index: -2;
	}

	.hero-particles-container {
		position: absolute;
		top: 0;
		bottom: 42%;
		left: 0;
		right: 0;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: calc(50% - 360px);
		width: 720px;
		background-repeat: no-repeat;
	}

	&::before {
		top: 0;
		height: 159px;
		background-image: url('../images/hero-bg-top.svg');
		background-size: 720px 159px;
	}

	&::after {
		bottom: 42%;
		height: 173px;
		background-image: url('../images/hero-bg-bottom.svg');
		background-size: 720px 173px;
	}
}

@counter-style repeating-emoji {
	system: cyclic;
	symbols: "\1F52C" "\1F4AD" "\1F4AB" "\1F48E" "\1F449";
	suffix: " ";
}

.shadow {
	box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

#skincare-results {
	color: color(typography, 1);

	.centered-hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#main-bubble {
		text-align: center;

		img {
			display: inline;
			margin-bottom: 15px;
			border: 15px solid color(primary, 2);
		}
	}

	#made-by-img-p-list {
		list-style: none;
		font-size: .75em;


		li {
			margin: 5px 0px;

			img, p {
				display: inline;
			}
			img {
				margin: 0px 10px;
				border-radius: 50%;
				border: 2px solid color(primary, 2);;
			}
		}
	}

	#disclaimer {
		font-size: .75rem;
	} 

	.skin-advice-list {
		list-style: repeating-emoji inside;

		li {
			margin-bottom: 5px;
		}
		
		.advice {
			font-weight: bold;
		}
	}

	.progress {
		height: 50px;
		margin: 22px 0px;
	}
	
	.progress > svg {
		height: 100%;
	}

	.progress-list {
		font-weight: bold;
		list-style: none;
		padding-left: 0px;
	}

	ul.share-buttons {
		list-style: none;
		padding: 0;
		text-align: center;
	}
	  
	ul.share-buttons li {
		display: inline-block;
		margin: auto 15px;
	}
	  
	ul.share-buttons .sr-only {
		position: absolute;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

@include media( '>medium' ) {

    .hero-no-phone {
        padding-top: 160px;

		&::before,
		&::after {
			left: calc(50% - 720px);
			width: 1440px;
		}

		&::before {
			height: 318px;
			background-size: 1440px 318px;
		}

		&::after {
			height: 347px;
			background-size: 1440px 347px;
		}
    }
}

.has-animations {

	.hero-no-phone .hero-bg,
	.hero-no-phone::before,
	.hero-no-phone::after,
	.hero-no-phone .mockup-bg,
	.hero-no-phone .device-mockup {
		opacity: 0;
	}

	&.is-loaded {

		.hero-no-phone {

			.hero-bg {
				animation: heroBg .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
			}

			&::before,
			&::after {
				animation: heroFadeIn .6s ease forwards .45s;
			}
		}

		.hero-no-phone {
			animation: heroFadeIn .6s ease forwards .45s;
		}

		.hero-no-phone .device-mockup {
			animation: heroMockup .6s ease forwards .6s;
		}
	}
}