.hero-no-phone {
	position: relative;
    padding-top: 128px;
	z-index: 0;

	.hero-bg {
		position: absolute;
		top: 0;
		bottom: 5%;
		left: 0;
		right: 0;
		background: color(bg, 1i);
		z-index: -2;
	}

	.hero-particles-container {
		position: absolute;
		top: 0;
		bottom: 42%;
		left: 0;
		right: 0;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: calc(50% - 360px);
		width: 720px;
		background-repeat: no-repeat;
	}

	&::before {
		top: 0;
		height: 159px;
		background-image: url('../images/hero-bg-top.svg');
		background-size: 720px 159px;
	}

	&::after {
		bottom: 42%;
		height: 173px;
		background-image: url('../images/hero-bg-bottom.svg');
		background-size: 720px 173px;
	}
}

@include media( '>medium' ) {

    .hero-no-phone {
        padding-top: 160px;

		&::before,
		&::after {
			left: calc(50% - 720px);
			width: 1440px;
		}

		&::before {
			height: 318px;
			background-size: 1440px 318px;
		}

		&::after {
			height: 347px;
			background-size: 1440px 347px;
		}
    }
}

.has-animations {

	.hero-no-phone .hero-bg,
	.hero-no-phone::before,
	.hero-no-phone::after,
	.hero-no-phone .mockup-bg,
	.hero-no-phone .device-mockup {
		opacity: 0;
	}

	&.is-loaded {

		.hero-no-phone {

			.hero-bg {
				animation: heroBg .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
			}

			&::before,
			&::after {
				animation: heroFadeIn .6s ease forwards .45s;
			}
		}

		.hero-no-phone {
			animation: heroFadeIn .6s ease forwards .45s;
		}

		.hero-no-phone .device-mockup {
			animation: heroMockup .6s ease forwards .6s;
		}
	}
}